<style>
  #seq-panel {
    margin-left: 100px;
    margin-right: 100px;
  }
  #seq-box {
    padding: 20px;
    overflow: auto;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 20px;
  }
</style>


<style>
  #species-panel {
    margin-left: 100px;
    margin-right: 100px;
  }
  #species-box {
    padding: 20px;
    overflow: auto;
    font-size: 20px;
  }

 </style>


<div id="seq-panel" class="panel panel-default">
  <div class="panel-heading">
    Search result for sequence:
  </div>
  <div id="seq-box" class="panel-body">
    {{sequence}}
  </div>
  <div class="panel-footer">
    <h2>Taxonomy: {{taxonomy}}</h2>

    <div id="species-box" class="panel-body">

      <button id="collapse-btn" data-bs-toggle="collapse" data-bs-target="#species-list">Show species matches ({{ num_species_match }})</button>
      <div id="species-list" class="collapse">
        <br>
        <table id="species-info-seq-list-tbl" class="table-responsive table-striped" style="width: 100%;">
          <thead>
            <tr>
              <th>species</th>
              <th># matches</th>
              <th>SILVA IDs</th>
            </tr>
          </thead>
          <tbody>
            {{ species_details | safe}}
          </tbody>
        </table>
      </div>

      <!-- <div class="accordion" id="myAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              <h1>SILVA species matches ({{ num_species_match }})</h1>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse">
            <div class="card-body">
              <table id="species-info-seq-list-tbl" class="table-responsive table-striped" style="width: 100%;">
                <thead>
                  <tr>
                    <th>species</th>
                    <th># matches</th>
                    <th>SILVA IDs</th>
                  </tr>
                </thead>
                <tbody>
                  {{ species_details | safe}}
                </tbody>
              </table>
            </div>        
          </div>
        </div>
      </div> -->

    </div>    
  </div>
</div>

<script>
  var nt2rgb = {
    'A': '#f01505',
    'T': '#15c015',
    'C': '#80a0f0',
    'G': '#c0c000'
  };
  $('#seq-box').html($('#seq-box').html().split('').map(function(nt) {
    if (nt in nt2rgb) {
      return '<span style="color: ' + nt2rgb[nt] + ';">' + nt + '</span>';
    } else {
      return nt;
    }
  }).join(''));
</script>

<!-- <script type="text/javascript">
  $(document).ready(
    function() {
      $('#species-info-seq-list-tbl').DataTable({'scrollX': true, 'autoWidth': true, 'paging': true, 'lengthMenu':[10, 25, 50, 100, -1], 'pageLength': 10, 'aaSorting': []});
    }
  );
</script> -->